.about-intro {
    padding-bottom: 150px;
    @include pad-sm {
        padding-bottom: 90px;
    }
}

.about-intro-container {
    padding-right: 36px;
    display: flex;
    flex-direction: column;

    h4 {
        color: $indigo-700;
    }
}

.pfp-container {
    @include pad-sm {
        width: 80%;
        padding: 0;
    }
}

.pfp-illustration {
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-image: url(../img/pfp-illustration.jpg);
    background-position: center;
    background-size: cover;
}

.pfp-round {
    width: 100%;
    height: 0;
    padding-top: 100%;
    border-radius: 500px;
    background-image: url(../img/pfp.jpg);
    background-position: center;
    background-size: cover;

    @include pad-sm {
        margin-bottom: 20px;
    }
}

.about-svg {
    width: 100px;
    height: 100px;
    path {
        fill: $indigo-200;
    }
}

.about-icon {
    h4 {
        color: $indigo-200;
        padding-top: 8px;
    }
}

.education {
    h5 {
        color: $secondary;
    }
    .caption {
        color: gray;
    }
}

.skills, .interests, .languages {
    h6 {
        color: $secondary;
    }
    li {
        @include p-text;
        text-align: center;
    }
}

.no-bold {
    font-weight: normal !important;
}

.photo {
    height: 260px;
    width: auto;
    background-size: cover;
    background-position: center;
    @include pad-sm {
        height: 100px;
    }
}

.about-references {
    color: $gray-600;
    font-size: 12px !important;
    a {
        color: $gray-600;
    }
}

.about-work-title {
    font-weight: normal;
}

.readmoreBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include mobile {
        
    }
}

.about-link {
    text-decoration: none;
    color: $secondary;
    text-align: center;

    @include hover-transition;
    @include underline-animation($highlight);

    &:hover {
        color: $highlight;
        .arrow-svg path {
            fill: $highlight;
        }
    }
}

.about {
    h5 {
        color: gray;
    }
    @include pad-sm {
        margin-top: 80px;
    }
}

.about-iframe-container {
    @include pad-sm {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.flexible-iframe {
    width: 560px;
    height: 315px;

    @include pad-sm {
        width: 280px;
        height: 158px;
    }
}

.flexible-iframe-2 {
    width: 640px;
    height: 480px;

    @include pad-sm {
        width: 320px;
        height: 480px;
    }
}

.responsive-iframe {
    position: relative;
    display: block;
    width: 100%; /* width of iframe wrapper */
    height: 0;
    margin: auto;
    padding: 0% 0% 56.25%; /* 16:9 ratio */
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}