.art {
    h6, .caption {
        color: gray;
    }
    h4 {
        color: $indigo-700;
    }
}

.artwork-feed {
    width: 100%;
    overflow: scroll;

    // /* Hide scrollbar for IE, Edge and Firefox */
    // -ms-overflow-style: none;  /* IE and Edge */
    // scrollbar-width: none;  /* Firefox */

    // /* Hide scrollbar for Chrome, Safari and Opera */
    // &::-webkit-scrollbar {
    // display: none;
    // }
}

.artwork {
    height: 300px;
    width: auto;
    background-size: cover;
    background-position: center;
    @include pad-sm {
        height: 180px;
    }
}