.banner {
    background-image: url("../img/gradient_bg.gif");
    // background-image: url("../img/bg.png");
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2, h3 {
        color: $white;
        text-align: center;
        line-height: 1.5;
        text-shadow: $text-shadow;
    }

    h2 {
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 72px;
    }

    h3 {
        font-size: 36px;
        font-weight: 400;
    }
}

#works {
    // padding-top: 32px;
}

.logo-svg, .arrow-svg {
    width: 120px;
    height: 120px;
    svg {
        filter: drop-shadow($text-shadow);
    }
    margin-bottom: 40px;
}