.banner {
    // background-image: url("../img/bg-sm.jpg");
    // background-attachment: fixed;
    // height: 100vh;
    // background-size: cover;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding-top: 80px;
    }

    h2, h3 {
        color: $white;
        text-align: center;
        line-height: 1.5;
        text-shadow: $text-shadow;
    }

    h2 {
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 72px;
    }

    h3 {
        font-size: 36px;
        font-weight: 400;
    }

    .banner-arrow {
        filter: drop-shadow($text-shadow);
    }

    .banner-arrow-text {
        color: $white;
        @include text-shadow-lighter;
    }
}

.intro {
    margin-top: 60px;
    margin-bottom: 120px;
    // margin: 100px 0;
    // width: 80%;
    h2 {
        color: $gray-600;
        // font-size: 24px;
        // line-height: 2;
    }
}

.intro-text {
    font-size: 20px !important;
    line-height: 1.8 !important;
    color: $primary !important;
    // margin-left: 200px;
}

.w-75-sizer {
    width: 75%;
    @include pad-sm {
        width: 90%;
    }
}

.logo-svg, .arrow-svg {
    width: 120px;
    height: 120px;
    svg {
        filter: drop-shadow($text-shadow);
    }
    margin-bottom: 40px;
}