.category-page {
    .title {
        h4 {
            color: $indigo-700;

            @include pad-sm {
                text-align: center;
            }
        }
    }

}

.category-list {
    li {
        @include mobile {
            padding: 0 !important;
        }
    }
}

.category-box {
    @include pad-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.category-nav {
    display: flex;
    justify-content: start;

    @include mobile {
        // flex-direction: column;
        justify-content: space-between;
    }

    h6 {
        color: $gray-300;
        @include hover-transition;
        @include underline-animation($highlight);
    }

    // BOOTSTRAP
    .nav-link {
        padding-left: 0;
        padding-right: 36px;
        border: none;

        @include mobile {
            padding-right: 0;
        }
    }

    .active {
        h6 {
            color: $highlight;
            background-position: 100% 100%;
            background-size: 100% 2px;
        }
        
    }
}

.bottom-nav {
    a {
        color: gray;
        text-decoration: none;
        @include hover-transition;
        @include underline-animation($highlight);
        &:hover {
            transition: .6s;
            .arrow-svg path {
                fill: $highlight;
            }
        }
    }
    h6 {
        margin: 0;  
    }
    .arrow-svg {
        margin: 0 8px;
        width: 16px;
        height: 16px;
        path {
            fill: gray;
        }
    }
    .left .arrow-svg {
        transform: rotate(90deg);
    }
    .right .arrow-svg {
        transform: rotate(-90deg);
    }
}

#nav-focus {
    font-weight: bold;
    background-color: transparent;
    @include rm-underline-animation($gray-600);
}