.footer {
    width: 100%;
    background-color: $pink-100;
    padding: 20px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: $white;

        @include pad-sm {
            flex-direction: column;
            align-items: center;
        }
    }

    h6, p {
        color: $secondary;
    }
}

.contact-menu {
    display: flex;
    align-items: flex-end;
    margin: 20px 0;

    li {
        padding-right: 24px;

        @include pad-sm {
            padding: 0 10px;
        }
    }

    a {
        text-decoration: none;
        font-weight: 500;
        color: $white;
        
        &:hover {
            
            @include hover-transition;
            color: $black;
        }
    }

    @include pad-sm {
        margin-bottom: 40px;
    }
}