.container {
    max-width: 1280px;
    margin: 0 auto;

    @include max {
        max-width: 990px;
    }
    @include max2 {
        max-width: 98%;
        padding-left: 1%;
        padding-right: 1%;
        margin: 0;
    }
}

.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 800ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 800ms;
  }