html, body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  font-family: 'Poppins', 'Cormorant Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, .h-1, .h-2, .h-3, .h-4, .h-5 {
  line-height: 1.5;

  @include mobile {
    line-height: 1.2;
  }
}
h6, .h-6 {
  line-height: 1.2;
}
h1, h4, .h-1, .h-4, .quote {
  font-family: 'Cormorant Garamond', serif;
}
h2, h3, h5, h6, p, .h-2, .h-3, .h-5, .h-6, .p-bold, .caption {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}
h1, .h-1 { 
  font-size: 48px;
  font-style: normal; 
  font-weight: 700;

  @include pad-sm {
    font-size: 36px;
  }
}
h2, .h-2 {
  font-size: 32px;
  font-weight: 300;

  @include pad-sm {
    font-size: 28px;
  }
}
h3, .h-3 { 
  font-size: 28px; 
  font-style: normal;
  font-weight: 300; 

  @include pad-sm {
    font-size: 24px;
  }
}
h4, .h-4 {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;

  @include pad-sm {
    font-size: 28px;
  }
}
h5, .h-5 {
  font-size: 24px;
  font-weight: 500;

  @include pad {
    font-size: 18px;
  }
}
h6, .h-6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include pad-sm {
    font-size: 14px;
  }
}
p { 
  font-size: 16px; 
  font-style: normal; 
  font-weight: 400;
  line-height: 2;
  word-wrap: break-word;

  @include pad-sm {
    font-size: 16px;
    line-height: 1.5;
  }
}
b, .p-bold {
  font-weight: 600;
}
b {
  background-color: $pink-100;
}
.quote {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;

  @include pad-sm {
    font-size: 18px;
  }
}
.caption, .table-caption {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: $gray-600;
}
.center {
  text-align: center;
}
.italic {
  font-style: italic; 
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  @include mobile {
    padding: 0 32px;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 800ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 800ms;
}

.red {
  color: $red !important;
}
.yellow {
  color: $yellow !important;
}
.green {
  color: $green !important;
}
.blue {
  color: $blue !important;
}
.purple {
  color: $purple !important;
}
.black {
  color: $black !important;
}
.highlight {
  color: $highlight !important;
}
.primary {
  color: $primary !important;
}
.secondary {
  color: $secondary !important;
}
.bg-highlight {
  background-color: $beige-200 !important;
}

.w-sizer {
  width: 60%;
  @include pad-sm {
      width: 90%;
  }
}

.w-sizer-sm {
  width: 50%;
  @include pad-sm {
      width: 40%;
  }
}

.w-sizer-lg {
  width: 80%;
  @include pad-sm {
      width: 90%;
  }
}

.w-sizer-60 {
  width: 60%;
  @include pad {
    width: 100%;
  }
}

.w-sizer-75 {
  width: 75%;
  @include pad {
    width: 100%;
  }
}

img {
  object-fit: contain;
  // border-radius: 8px;
  // @include filter-shadow;
}

.no-shadow {
  @include no-shadow;
}

.progress-bar {
  position: fixed;
  width:  100%;
  height:  4px;
  z-index:  3;
}