.container {
    max-width: 1200px;
    margin: 0 auto;

    @include max {
        max-width: 990px;
    }
    @include max2 {
        max-width: 98%;
        padding-left: 1%;
        padding-right: 1%;
    }
}