.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // width: 100%;
    z-index: 1;
    background-color: white;
    padding: 0;
    box-shadow: $box-shadow;
}

.logo-svg {
    padding: 0 2px;
    width: 36px;
    height: 36px;
    transition: .3s;
    path {
        fill: $secondary;
        transition: .3s;
    }
    &:hover {
        path {
            fill: $highlight;
        }
    }
}

.arrow-svg {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    margin-bottom: 0;

    path {
        fill: $gray-500;
    }
}

/* BOOTSTRAP */

.dropdown-toggle::after {
    display: none;
}

.navbar-toggler {
    background-color: none;
    border: none;

    &:focus:not(:focus-visible) {
        box-shadow: none;
    }
}

.navbar-collapse {
    .me-auto {
        margin-left: auto !important;
        margin-right: 0 !important;
    }
    @include pad-sm {
        margin: 8px 0;
    }
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include pad-sm {
        padding: 16px 0;
        border-top: 1px solid $gray-100;
    }
}

.dropdown-menu {
    border: 1px solid $gray-100;
    border-radius: 4px;

    @include pad-sm {
        border: none;
    }
}

.dropdown-item {
    transition: .3s;
    &:hover {
        background-color: $gray-100;
    }
    &:focus {
        background-color: $highlight;
        color: white;
    }

    @include pad-sm {
        text-align: center;
    }
}

.header-item {
    margin: 0 0 0 16px;
    color: $gray-500;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include underline-animation($highlight);

    &:hover {
        color: $highlight;
        .arrow-svg {
            path {
                fill: $highlight;
            }
        }   
    }

}



