@mixin max {
    @media(max-width: 1200px){
        @content;
    }
}
@mixin pad-lg {
    @media(max-width: 1024px){
        @content;
    }
}
@mixin max2 {
    @media(max-width: 990px){
        @content;
    }
}
@mixin pad {
    @media(max-width: 768px){
        @content;
    }
}
@mixin pad-sm {
    @media(max-width: 767px){
        @content;
    }
} 
@mixin mobile {
    @media(max-width: 568px){
        @content;
    }
}
@mixin mobile-sm {
    @media(max-width: 414px){
        @content;
    }
}

@mixin underline-animation($color) {
    display: inline-block;
    padding-bottom:2px;
    background-image: linear-gradient($color, $color);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s; /*change after the size immediately*/
    
    &:hover {
        color: $color;
        background-position: 100% 100%; /*OR bottom right*/
        background-size: 100% 2px;
    }
}

@mixin underline-hover($color) {
    color: $color;
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
}

@mixin hover-transition {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

@mixin img-hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    @include hover-transition;

    &:hover {
        filter: brightness(105%);
        -webkit-filter: brightness(105%);
    }
}

@mixin link-hover {
    @include hover-transition;

    &:hover {
        color: $highlight;
    }
}

@mixin pad-hdr {
    padding-top: 64px;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin text-shadow {
    text-shadow: $text-shadow;
}

@mixin text-shadow-lighter {
    text-align: $text-shadow-lighter;
}

@mixin box-shadow {
    box-shadow: $box-shadow;
}

@mixin box-shadow-darker {
    box-shadow: $box-shadow-darker;
}

@mixin box-shadow-darker-center {
    box-shadow: $box-shadow-darker-center;
}

@mixin text-image-fill($src) {
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: url($src) 90% 0 no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;

    text-shadow: none;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 1px 2px $gray-600);
    -webkit-filter: drop-shadow(0 1px 2px $gray-600);
}