ul {
    padding-left: 0;
}

.list-disc {
    padding-left: 1rem;

    li {
        list-style: disc;
    }
}

.color-bright {
    color: $highlight !important;
}

.color-dark {
    color: $secondary !important;
}

.color-black {
    color: $primary !important;
}

.color-gray {
    color: $gray-600 !important;
}

.color-gray-800 {
    color: $gray-800 !important;
}

.text-bold {
    font-weight: bold;
}

.bg-1 {
    width: 100%;
    background-color: $gray-100;
}

.w-sizer {
    width: 60%;
    @include pad-sm {
        width: 90%;
    }
}

.w-sizer-sm {
    width: 50%;
    @include pad-sm {
        width: 90%;
    }
}

.w-sizer-lg {
    width: 70%;
    @include pad-sm {
        width: 90%;
    }
}

.img-src-cap {
    font-size: 12px;
    color: $gray-500;
    a {
        color: $gray-500;
    }
}

.topic-card {
    h3 {
        font-size: 24px;
        @include hover-transition;
        @include underline-animation($highlight);
    }
    p {
        font-size: 18px;
        color: $gray-600;
        @include hover-transition;
    }    

    &:hover {
        h3 {
            @include underline-hover($highlight);
        }
        p {
            color: $gray-500;
        }
        // image brightness, saturation, vignette
    }
}

.topic-card-img {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    border-radius: 16px;
    background-size: cover;
    background-position: center;

    @include img-hover;
}

/////////////////////////////////////////////

.topic-container {
    width: 80%;
    margin: 0 auto;
    color: $primary;

    @include pad-sm {
        width: 100%;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }
}

.heading-1 {
    font-size: 24px; 
    line-height: 1.5;
}

.heading-2 {
    font-size: 21px;
    line-height: 1.5;
}

.heading-3 {
    font-size: 18px;
    line-height: 1.5;
}

.heading-4 {
    font-size: 16px;
}

.heading-5 {
    font-size: 24px;
    font-weight: 300;
}

p {
    font-size: 16px;

    line-height: 1.5;
}

.topic-title-container {
    h2 {
        font-size: 24px;
        font-weight: bold;
        color: $primary;
    }
    h3 {
        font-size: 21px;
        font-weight: normal;
        color: $gray-600;
    }
}

.topic-desc-container {
    color: $primary;
    h3 {
        font-size: 18px;
        line-height: 1.2;
    }
    li {
        font-size: 16px;
        color: $gray-900;
        
    }
}

.topic-cover-img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    
}

.recog-list {
    padding-left: 1rem;
    color: $primary;
    font-size: 16px;

    li {
        list-style: disc;
    }
}

.description {
    font-size: 16px;
    font-weight: normal;
    color: $gray-600;
}

.design-statement {
    div {
        width: 90%;
        @include pad-sm {
            width: 100%;
        }
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 21px;
        font-weight: normal;
        line-height: 2;
        text-align: center;
    }
}

.interview-box-container {
    @include pad-sm {
        justify-content: center !important;
    }
}
.interview-box {
    background-color: #FCF6E6;
    border-radius: 50px;
    height: 160px;

    h2 {
        color: $gray-900;
    }

    @include pad-sm {
        height: auto;
        flex-direction: column !important;

    }
}

.statistics-container {
    h2 {
        font-size: 48px;
        font-weight: bold;
        color: $highlight;
    }
    p {
        width: 60%;
        text-align: center;
        color: $gray-800;
    }
}

.table-container {
    .w-sizer {
        width: 75%;
        @include pad-sm {
            width: 90%;
        }
    }

    b {
        // color: $secondary;
    }
}

.table-header {
    border-top: 1px solid $gray-600;
    border-bottom: 1px solid $gray-600;
}

.table-body {
    border-bottom: 1px solid $gray-600;
}

.table-caption {
    color: $gray-900;
}

#petit-table-1 {
    margin-top: 40px;
    margin-bottom: 100px;
}

.result-statement {

    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 18px;
        font-weight: normal;
        line-height: 2;
        text-align: center;
    }
}

.references {
    color: $gray-600;
    font-size: 14px !important;
    a {
        color: $gray-600;
    }
}

.poster-img {
    @include img-hover;
    &:hover {
        cursor: pointer;
    }
}



.emph {
    font-size: 21px;
    font-weight: bold;
    margin-right: 10px;
}

.emph-2 {
    // font-size: 24px;
    font-weight: bold;
    margin: 0 5px;
}

#problem-list {
    li {
        text-align: center;
        background-color: $secondary;
        color: $white;
        height: 70px;
        border-radius: 16px;

        @include box-shadow-darker;
    }
}

#pain-point-list {
    // width: 75%;
    @include pad-sm {
        width: 100px;
    }
    li {
        text-align: center;
        background-color: #efcd51;
        height: 120px;
        border-radius: 32px;
        @include box-shadow-darker;
    }

    .heading-2 {
        line-height: 1.5;
        color: $black;
    }
}

.section-wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
}

.subsection-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}

.subsubsection-wrapper {
    padding-top: 40px;
    padding-bottom: 0px;
}

.display-row {
    display: flex;
    flex-direction: row;

    @include pad-sm {
        flex-direction: column;
    }
}

.display-row-reverse {
    display: flex;
    flex-direction: row-reverse;

    @include pad-sm {
        flex-direction: column;
    }
}

.graphic-cover-img {
    border-radius: 4px;
}

.link {
    @include link-hover;
}

.link-btn {
    color: $secondary;
    padding: 8px 16px;
    border: 1.5px solid $secondary;
    border-radius: 4px;
    margin-right: 16px;
    text-decoration: none;
    font-weight: 400;
    @include hover-transition;

    &:hover {
        color: $white;
        background-color: $secondary;
    }

    @include pad-sm {
        margin: 16px;
    }
}

.fanpage {
    border-radius: 8px;
    border: 16px solid $white;
    @include box-shadow-darker;
}

.fanpage-sm {
    border-radius: 20px;
    border: 2px solid $white;
    @include box-shadow-darker;
}