ul {
    padding-left: 0;
}

.list-disc {
    padding-left: 1rem;

    li {
        list-style: disc;
    }
}

.bg-1 {
    width: 100%;
    background-color: $gray-100;
}

.img-src-cap {
    font-size: 12px;
    color: $gray-500;
    a {
        color: $gray-500;
    }
}

.topic-container {
    width: 80%;
    margin: 0 auto;
    color: $primary;

    @include pad-sm {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0;
    }

    h6 {
        color: $gray-600;
    }

    
}

.topic-card {
    h1, h4 {
        @include hover-transition;
        @include underline-animation($highlight);
    }
    h1 {
        color: $secondary;
    }
    p {
        color: $gray-600;
        @include hover-transition;
    }
    .p-bold {
        color: $secondary;
    }

    .text-reverse {
        div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @include pad-sm {
                align-items: flex-start;
            }
        }
        h1, p {
            text-align: right;
        }
    }

    &:hover {
        h1, h4 {
            @include underline-hover($highlight);
        }
    }
}

.topic-card-img-container-lg, .topic-card-img-container-md, .topic-card-img-container-sm {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.topic-card-img-container-lg {
    height: 480px;
    @include max {
        height: 360px;
    }
    @include max2 {
        height: 300px;
    }
    @include pad-sm {
        height: 240px;
    }
}

.topic-card-img-container-md {
    height: 360px;
    @include max {
        height: 280px;
    }
    @include max2 {
        height: 320px;
    }
}

.topic-card-img-container-sm {
    margin: 0 8px;
    height: 200px;
    @include pad-sm {
        height: 160px;
        margin: 8px 0;
    }
}

.topic-card-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
    @include img-hover;

    &:hover {
        transform: scale(1.08);
    }
}

.topic-card-title-container {
    padding: 0 36px;
    @include pad-sm {
        padding: 0;
    }
}
.topic-card-title-container-md {
    padding: 16px 0;
    h4 {
        color: black;
        line-height: 1.2;
    }
    p {
        line-height: 1.5;
        color: $indigo-700;
    }
    .p-bold {
        color: $gray-400;
    }
}

#explore-beyond {
    .w-sizer {
        @include max2 {
            width: 100%;
        }
    }

    ul {
        @include pad-sm {
            flex-direction: column;
        }
    }

    .topic-card-img {
        background-blend-mode: "multiply";
    }

    #Art {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right, $indigo-400, $indigo-800);
            opacity: .6; 
        }
    }
    #Writing {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right, $beige-600, $beige-900);
            opacity: .6; 
        }
    }

    h5 {
        color: $gray-300;
    }

    h6 {
        font-size: 24px;
        @include text-shadow;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        background: transparent;
        color: white;
    }
    
}







.topic-title-container {
    h2 {
        font-size: 24px;
        font-weight: bold;
        color: $primary;
    }
    h3 {
        font-size: 21px;
        font-weight: normal;
        color: $gray-600;

        @include pad-sm {
            line-height: 1.2;
        }
    }
    .date {
        font-size: 16px;
    }
}

.topic-desc-container {
    color: $primary;
    li {
        font-size: 16px;
        color: $gray-900;
    }
}

.topic-cover-img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    
}

.recog-list {
    padding-left: 1rem;
    color: $primary;
    font-size: 16px;

    li {
        list-style: disc;
    }
}

.description {
    font-size: 16px;
    font-weight: normal;
    color: $gray-600;
}

.design-statement {
    div {
        width: 90%;
        @include pad-sm {
            width: 100%;
        }
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 21px;
        font-weight: normal;
        line-height: 2;
        text-align: center;
    }
}

.interview-box-container {
    background-color: #FCF6E6;
    border-radius: 50px;

    @include max {
        justify-content: center !important;
        flex-direction: column !important;
    }
}

.statistics-container {
    p {
        width: 60%;
        text-align: center;
    }
}

.table-container {
    .w-sizer {
        width: 75%;
        @include pad-sm {
            width: 90%;
        }
    }
}

.table-header {
    border-top: 1px solid $gray-600;
    border-bottom: 1px solid $gray-600;
}

.table-body {
    border-bottom: 1px solid $gray-600;
}


#petit-table-1 {
    margin-top: 40px;
    margin-bottom: 100px;
}

.result-statement {

    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 18px;
        font-weight: normal;
        line-height: 2;
        text-align: center;
    }
}

.references {
    color: $gray-600;
    font-size: 14px !important;
    a {
        color: $gray-600;
    }
}

.poster-img {
    @include img-hover;
    &:hover {
        cursor: pointer;
    }
}



.emph {
    font-size: 21px;
    font-weight: bold;
    margin-right: 10px;
}

.emph-2 {
    // font-size: 24px;
    font-weight: bold;
    margin: 0 5px;
}

#problem-list {
    li {
        text-align: center;
        background-color: $secondary;
        color: $white;
        height: 70px;
        border-radius: 16px;

        @include box-shadow-darker;

        @include pad-sm {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}

#pain-point-list {
    // width: 75%;
    @include pad-sm {
        width: 350px;
    }
    li {
        text-align: center;
        background-color: #efcd51;
        height: 120px;
        border-radius: 32px;
        @include box-shadow-darker;

        @include pad-sm {
            margin-bottom: 40px;
        }
    }

    .heading-2 {
        line-height: 1.5;
        color: $black;
    }
}

.section-wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
    
    @include pad-sm {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.subsection-wrapper {
    padding-top: 90px;
    padding-bottom: 90px;

    @include pad-sm {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.subsubsection-wrapper {
    padding-top: 40px;
    padding-bottom: 0px;
}

.display-row {
    display: flex;
    flex-direction: row;

    @include pad-sm {
        flex-direction: column;
    }
}

.display-row-reverse {
    display: flex;
    flex-direction: row-reverse;

    @include pad-sm {
        flex-direction: column;
    }
}

.graphic-cover-img {
    border-radius: 4px;
}

.link {
    @include link-hover;
}

.bold-link {
    font-weight: bold;
    @include link-hover;
    text-decoration: none;
}

.link-btn {
    color: $secondary;
    padding: 8px 16px;
    border: 1.5px solid $secondary;
    border-radius: 4px;
    margin-right: 16px;
    text-decoration: none;
    font-weight: 400;
    @include hover-transition;

    &:hover {
        color: $white;
        background-color: $secondary;
    }

    @include pad-sm {
        margin: 16px;
    }
}

.fanpage {
    border-radius: 8px;
    border: 16px solid $white;
    @include box-shadow-darker;
}

.fanpage-sm {
    border-radius: 20px;
    border: 2px solid $white;
    @include box-shadow-darker;
}

.pad-sm-icon-container {
    @include pad-sm {
        justify-content: center !important;
        align-items: center !important;
    }
}

.pad-sm-icon {
    @include pad-sm {
        width: 40% !important;
    }
}