#Mindfulness-Alchemy {
    .theme  {
        color: #605A94 !important;
    }
    b {
        background-color: #EDEBFF;
    }
    .theme-bg {
        width: 100%;
        background-color: #EDEBFF;
    }
}