.mindful-intro-box {
    background-color: #78611E;
    border-radius: 16px;
    @include box-shadow;
    color: $white;
}

#mindful-value {
    font-weight: normal;
}

.val-containe {
    width: 80%;
}