#Fluffy-Focus {
    .theme  {
        color: #81956C !important;
    }
    .theme-bg {
        width: 100%;
        background-color: #CDD5C5;
    }
    .artwork {
        height: 240px;
        width: auto;
        background-size: cover;
        background-position: center;

        @include max2 {
            max-width: 100%;
            // height: auto;
        }
    }
}
