#Fluffy-Focus {
    b {
        background-color: #e9f1e0;
    }
    .theme  {
        color: #417807 !important;
    }
    .theme-bg {
        width: 100%;
        background-color: rgba(69, 122, 14, 0.05);

        b {
            background-color: #c9e0af;
        }
    }
    .artwork {
        height: 240px;
        width: auto;
        background-size: cover;
        background-position: center;

        @include max2 {
            max-width: 100%;
            // height: auto;
        }
    }
    .hyperlink {
        &:hover {
            transition: .3s;
            color: #81956C;
        }
    }
    .responsive-center-list {
        @include pad {
            li {
                flex-direction: column;
                align-items: center;

                h6, p {
                    text-align: center;
                }
            }
        }
    }
    .icon-title {
        @include pad {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .form-switch {
        padding: 24px 2em 24px 4em;
        border-radius: 8px;
        background-color: rgba(69, 122, 14, 0.05);

        label {
            color: #417807;
        }
    }

    .form-check-input:checked {
        background-color: #417807;
        border-color: #417807;
    }

    .feature-list {
        transition: all .3s ease-in;
    }
}

.dropdown-reveal {
    transition: all .3s ease-in;
}