#bookworm-value {
    div {
        width: 90%;
        @include pad-sm {
            width: 100%;
        }
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 21px;
        font-weight: normal;
        line-height: 2;
        // text-align: center;
    }
}

#book-pain-point-list {
    // width: 75%;
    @include pad-sm {
        width: 320px;
    }
    li {
        text-align: center;
        background-color: #d7ddfd;
        height: 200px;
        border-radius: 32px;
        @include box-shadow-darker;

        @include pad-sm {
            height: 160px;
        }
    }

    .heading-2 {
        line-height: 1.5;
        color: $secondary;
    }
}

.dis-pad-sm {
    @include pad-sm {
        display: none;
    }
}