#TourBot {
    .theme  {
        color: #913732 !important;
    }
    .theme-bg {
        width: 100%;
        background-color: rgba(145, 55, 50, 0.1);
    }

    h4 {
        color: $gray-500;
    }
}

.tourbot-value-box {
    background-color: rgba(145, 55, 50, 0.1);
    @include box-shadow;
    border-radius: 36px;

    h5 {
        color: $gray-800;
    }

    @include pad-sm {
        width: 90%;
        margin-bottom: 40px;
    }
}